.header{
    display: flex;
    padding: 20px;
    background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
    color: white;
    height: 40px;
    align-items: center;
}

.header-image{
    height: 100%;
    margin-right: 7px;
}

.header-title{
    font-size: 20px;
    margin-right: auto;
}
.header-content{
    font-size: 12px;
    font-weight: 500;
}